<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <p-menu [model]="verticalItems" styleClass="vertical-menu"></p-menu>
  </ng-template>

  <ng-template pTemplate="end">
    <button *ngIf="!authService.loggedIn()"
            pButton
            type="button"
            label="Login"
            icon="pi pi-sign-in"
            (click)="login()">
    </button>
    <button *ngIf="authService.loggedIn()"
            pButton
            type="button"
            label="Logout"
            icon="pi pi-sign-out"
            (click)="logout()">
    </button>
  </ng-template>
</p-menubar>
