<p-menubar [model]="items()">
  <ng-template pTemplate="end">
    <div class="menu-buttons">
      @if (!authStore.isAuthenticated()) {
        <p-button
          type="button"
          [label]="'Register'"
          [icon]="'pi pi-user-plus'"
          (onClick)="register()">
        </p-button>
        <p-button
          type="button"
          [label]="'Login'"
          [icon]="'pi pi-sign-in'"
          (onClick)="login()">
        </p-button>
      }
      @if (authStore.isAuthenticated()) {
        <p-button
          [label]="'Logout'"
          [icon]="'pi pi-sign-out'"
          (click)="logout()">
        </p-button>
      }
    </div>
  </ng-template>
</p-menubar>
