<p-dialog [(visible)]="open" header="Select User" [modal]="true" [style]="{ width: '25rem' }">
  <div class="card flex justify-content-center">
    <p-listbox
      [options]="userList()"
      [(ngModel)]="selectedUser"
      [style]="{ 'width': '15rem' }"
      [listStyle]="{ 'max-height': '220px' }"
    />
  </div>

  <ng-template pTemplate="footer">
    <p-button label="Cancel" (onClick)="cancel()" />
    <p-button label="Confirm" (onClick)="confirm()" [disabled]="!selectedUser" />
  </ng-template>
</p-dialog>
