@if (user) {
  <p-card header="{{ user.username }}">

    @if (!editMode) {
      <div>
        <p><strong>First Name:</strong> {{ user.firstName }}</p>
        <p><strong>Last Name:</strong> {{ user.lastName }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Role:</strong> {{ user.userRole }}</p>
        <p><strong>Created At:</strong> {{ user.createdAt | date:'medium' }}</p>

        <button pButton type="button" label="Edit" icon="pi pi-pencil" (click)="toggleEdit()"></button>
      </div>
    } @else {
      <div>
        <label>First Name: <input [(ngModel)]="user.firstName"/></label><br/>
        <label>Last Name: <input [(ngModel)]="user.lastName"/></label><br/>
        <label>Email: <input [(ngModel)]="user.email"/></label><br/>
        <label>Role:
        </label><br/>

        <button pButton type="button" label="Save" icon="pi pi-check" (click)="toggleEdit()"></button>
        <button pButton type="button" label="Cancel" icon="pi pi-times" (click)="toggleEdit()"></button>
      </div>
    }

  </p-card>
}

