<div class="login-wrapper">
  <div class="login-box">
    <h2>Sign in</h2>

    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <p-float-label>
        <input
          pInputText
          id="username"
          type="text"
          name="username"
          [(ngModel)]="credentials.username"
          required
        />
        <label for="username">Username</label>
      </p-float-label>

      <p-float-label>
        <input
          pInputText
          id="password"
          type="password"
          name="password"
          [(ngModel)]="credentials.password"
          required
        />
        <label for="password">Password</label>
      </p-float-label>


      <div class="buttons">
        <p-button
          type="submit"
          label="{{ loading() ? 'Signing in...' : 'Login' }}"
          [disabled]="loading() || loginForm.invalid"
          styleClass="p-button-primary"
        ></p-button>

        <p-button
          label="Reset Password"
          icon="pi pi-key"
          [routerLink]="['/change-password']"
          styleClass="p-button-secondary reset-btn"
        ></p-button>
      </div>


    </form>
  </div>
</div>
