<p-table [value]="ticketingUserList()">
  <ng-template pTemplate="header">
    <tr>
      <th>Username</th>
      <th>Role</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{ user.username }}</td>
      <td>{{ user.userRole }}</td>
      <td>{{ user.email }}</td>
      <td>
        <p-button type="button" label="View" icon="pi pi-user" (click)="viewUser(user.id)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
