.comment-input-wrap {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1rem;
  height: 2.5rem;
}

.comment-input {
  flex: 1;
  height: 100%;
  max-width: 35%;
}

.comment-button {
  white-space: nowrap;
  height: 100%;
}

/*.ticket-card {*/
/*  max-width: 45%;*/
/*}*/
