@if (ticketSignal(); as ticket) {
  <ng-container>
    <div class="ticket-detail-wrap">
      <p-card class="ticket-card">
        <h2>Ticket #{{ ticket.ticketId }} - {{ ticket.ticketType }}</h2>
        <p>Customer: {{ ticket.customer.firstName + " " + ticket.customer.lastName }}</p>
        <p>Status: {{ ticket.ticketStatus }}</p>
        <p>Created: {{ ticket.createdWhen | ticketingDateTime:true }}</p>
        <p>Created by: {{ ticket.createdBy?.username }}</p>

        <p>Ticket element:
          @if (!isEditing) {
            {{ ticket.ticketElement?.name }}
          } @else {
            <p-select class="w-full md:w-56"
              [options]="ticketElementList"
                      [(ngModel)]="ticket.ticketElement"
              optionLabel="name">
            </p-select>
          }
        </p>

        <p>Description:
          @if (!isEditing) {
            {{ ticket.description }}
          } @else {
            <textarea pInputTextarea [(ngModel)]="ticket.description"></textarea>
            <div class="action-buttons-left">
              <p-button type="button" label="Save" icon="pi pi-check"
                        (onClick)="saveTicketUpdate()"></p-button>

              <p-button type="button" label="Cancel" icon="pi pi-times"
                        severity="secondary"
                        (onClick)="cancelEdit()"></p-button>
            </div>


          }
        </p>

        @if (ticket.ticketStatus === Ticket.TicketStatusEnum.Assigned) {
          <p-divider></p-divider>
          <p>Assigned to: {{ ticket.assignedTo?.username }}</p>
          <p>Assigned when: {{ ticket.assignedWhen | ticketingDateTime:true }}</p>
        }
        @if (ticket.ticketStatus === Ticket.TicketStatusEnum.Closed) {
          <p-divider></p-divider>
          <p>Solution type: {{ ticket.solutionType?.name }}</p>
          <p>Solution description: {{ ticket.solutionDescription }}</p>
          <p>Closed when: {{ ticket.closedWhen | ticketingDateTime:true }}</p>
          <p>Closed by: {{ ticket.closedBy?.username }}</p>
        }
        @if (ticket.ticketStatus === Ticket.TicketStatusEnum.Cancelled) {
          <p-divider></p-divider>
          <p>Cancelled by: {{ ticket.cancelledBy?.username }}</p>
          <p>Cancelled when: {{ ticket.cancelledWhen | ticketingDateTime:true }}</p>

        }

        @if (hasActions) {
        <p-divider></p-divider>
        <app-ticket-actions [selectedTicket]="ticket"
                            (selectedTicketChange)="onTicketUpdate($event)"
                            (ticketUpdateModeChange)="onEditModeChange($event)"
                            [editing]="isEditing"
        />
        }
        @if (hasAddComment) {
        <p-divider></p-divider>
        <div class="comment-input-wrap">
          <input pInputText
                 type="text"
                 [(ngModel)]="newCommentText"
                 placeholder="Write a comment..."
                 class="comment-input"/>

          <button pButton
                  type="button"
                  label="Add"
                  icon="pi pi-plus"
                  (click)="addComment(ticket)"
                  class="comment-button">
          </button>
        </div>
        }

        <p-divider></p-divider>

        @if ((ticketSignal()?.comments?.length ?? 0) > 0) {
        <h3>Comments</h3>
        @for (comment of ticketSignal()?.comments; track comment.commentedWhen) {
          <div class="comment">
            <strong>Commenter: {{ comment.commenter?.username }}</strong>
            <em> --- Date: {{ comment.commentedWhen | date:'dd.mm.yyyy hh:mm' }}</em>
            <p>Comment: {{ comment.commentText }}</p>
            <p-divider></p-divider>
          </div>
        }}
      </p-card>
    </div>
  </ng-container>
}
